/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-size: 0.8125rem;
  font-family: "Manrope", sans-serif;
  background: #ecf2f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

main {
  max-width: 45.625rem;
  display: grid;
  grid-template-columns: 17.8125rem 1fr;
  box-shadow: 0px 40px 40px -10px #c9d5e180;
  /* OVERFLOW HIDDEN WILL NOT SUFFICE DUE TO POSITIONED BUBBLE, SET BORDER RADIUS TO GRID CHILD ELEMENTS INSTEAD */
  /* overflow: hidden; */
}

.img-container {
  border-radius: 10px 0 0 10px;
  display: flex;
  background: url(../images/drawers.jpg);
  background-size: cover;
}

.text-container {
  border-radius: 0 10px 10px 0;
  padding: 32px 40px;
  background: #fff;
}

.heading {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.25px;
  color: #48556a;
  margin-bottom: 0.75rem;
}

.description {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.12px;
  color: #6e8098;
  margin-bottom: 1.25rem;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.img-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.author-profile {
  font-size: 0.8125rem;
  letter-spacing: 0.12px;
}

.name {
  font-weight: 700;
  color: #48556a;
}

.date {
  font-weight: 500;
  color: #9daec2;
}

.icon-share {
  padding: 10px 10px;
  border-radius: 50%;
  background-color: #ecf2f8;
  cursor: pointer;
  border: none;
}

.icon-share.changeBg {
  background-color: #6e8098;
}

.icon-img.changeColor {
  fill: #fff;
}

.bubble {
  opacity: 0;
  /* webkit transition is deprecated */
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(107px, -78px);
  padding: 18px 37px;
  background: #48556a;
  box-shadow: 0px 10px 10px 0px #c9d5e180;
  border-radius: 10px;
  display: flex;
  gap: 21px;
  justify-content: center;
  align-items: center;
}

.bubble::after {
  content: "";
  height: 20px;
  width: 27px;
  background: #48556a;
  margin: 0 auto;
  transform: rotate(225deg);
  /* border-radius: 0 0 12px 0;
  margin-top: -22px; */
  position: absolute;
  bottom: -0.4rem;
  right: 0;
  left: 0;
}

/* Should come after the original display if doing display;none */
.bubble.fade {
  opacity: 1;
}

.b-text {
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 5px;
  color: #9daec2;
  text-transform: uppercase;
}

.socials {
  display: flex;
  gap: 16px;
  align-items: center;
}
